<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dojos.css') }}">
</head>
<body>
    <div id="wrapper">
        <h1>Please fill out this form</h1>
        <form action="/process" method="POST">
            <label for="name">Name</label>
            <input type="text"><br>
            <label for="email">Email</label>
            <input type="text"><br>
            <input type="submit">
        </form>
    </div>
    <!-- end of wrapper div -->
</body>
</html>